@import url('https://font.googleapis.com/css?family=Open+Sans:400,700');



html, body{
    padding:0px;
    margin:0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    background-color: rgb(168, 168, 168);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

.seccion_principal{
    text-align: center;
}

.productos{
    text-align: center;
    display: flex;
    margin-top: 3%;
    margin-left: 8%;
}
.producto{
    margin-right: 5%;
    background-color: rgb(168, 168, 168);
}

.contenido_producto button{
    cursor: pointer;
}

.sede_restaurante{
    margin-top: 7%;
}

.contenido_sede{
    margin-top: -25%;
    padding : 25%;
    margin-bottom: -15%;
}

.restaurante{
    display: flex;
}

.fotos_sede{
    margin-top: 3%;
    margin-left: 4%;
    background-color: rgb(168, 168, 168);
}

.seccion_comentarios{
    text-align: center;
    margin-bottom: 5%;
}

.comentarios{
    margin-top: -5%;
    display: flex;
    padding: 5%;
}

.contenido_comentario{
    margin-left: 5%;
    background-color: rgb(168, 168, 168);
}

.secciones_footer{
    display: flex;
    background-color: rgb(168, 168, 168);
    padding: 10px;
    max-height: 10%;
}

footer a{
    text-decoration: none;
    color: black;
    width: 15%;
}

.locales_footer{
    line-height: 7px;
}
.horarios_footer{
    margin-left: 37%;
    line-height: 7px;
}

.contacto_footer{
    margin-left: 30%;
    line-height: 7px;
}

footer p a:hover{
    color: white;
}