body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

nav{
    display:flex;
    background-color: rgb(168, 168, 168);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.register_box{
    width: 320px;
    height: 700px;
    background: rgb(168, 168, 168);
    color: white;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.register_box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}

.register_box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.register_box input{
    width: 100%;
    margin-bottom: 20px;
}

.register_box input[type="text"],
.register_box input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.register_box input[type="sumbit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #202020;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.register_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #202020;
}

.register_box a:hover{
    color: white;
}